@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Trad:wght@100..400&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  --primary-color: #009579;
  --primary-color-dark: #007f67;
  --error-color: #cc3333;
  --success-color: #4bb544;
  --secondary-color: #0471ed;
  --border-radius: 12px;
  --white-color: #ffffff;
  background: linear-gradient(
    to right,
    hsla(194, 95%, 15%, 0.826),
    hsla(152, 75%, 42%, 0.507)
  );
  overflow-x: hidden;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

h1{
  text-align:center;
  color: #ffffff;
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  margin: 1rem auto;

}

h2{
  text-align:center;
  color: #ffffff;
  font-family: "Playwrite US Trad", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
  margin: 0 auto;
}

.main-container {
  width: 100%;
  /* overflow-x: hidden; */
}

.main-wrapper{
  display: flex;
  flex-direction: row;
  margin: 3rem auto;
  gap: 10px;
  margin: 0 auto;
  width: 85%;
  align-items: center;
  justify-content: center;
  /* text-align:center; */
  position: relative;
}

.left-side-img{
  display: flex;
  width: 100%;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin: 0 auto;
  padding: 1rem;
}

.left-side-img img{ 
  text-align:center;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
}
.logo {
  text-align: center;
  margin: 1rem auto;
  overflow: hidden;
}

.right-side {
  width: 100%;
  /* margin: 0 auto; */
  padding: 1rem;
}

.logo img {
  width: 20%;
  overflow: hidden;
  position: relative;
}

/*--------------------------- Container --------------------------*/
.container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 14px 4.5rem;
  background: #ffffff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
}


.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.error{
  font-size: 14px;
  color: red;
  margin-top: 9px;
}

.form-title {
  font-size: 2rem;
  font-family: inherit;
  color: var(--primary-color);
  text-align: Center;
  padding: 1.5rem;
  text-transform: capitalize;
}

.form-input-wrapper {
  margin-bottom: 1rem;
}

.input-item {
  display: block;
  background: aliceblue;
  border: 2px solid #f4f4f4;
  box-sizing: border-box;
  padding: 0.75rem;
  outline: none;
  font-size: 15px;
  width: 100%;
  border-radius: var(--border-radius);
  transition: background 0.2s, border-color 0.2s;
}

.input-item::placeholder {
  font-size: 0.85rem;
}

.input-item:focus {
  border-color: rgb(209, 223, 235);
  background: var(--white-color);
}

.form__input-error {
  color: var(--error-color);
  border-color: var(--error-color) !important;
}

.form_input-error__message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--error-color);
}

.form-btn {
  background: var(--primary-color);
  color: var(--white-color);
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  margin: 1rem auto;
  border-radius: var(--border-radius);
}

.form-btn :hover {
  background: var(--primary-color-dark);
}

.form-btn:active {
  transform: scale(0.98);
}

.form-text {
  text-align: Center;
  padding: 1rem 0;
  color: #555;
}

.form-link {
  color: var(--secondary-color);
  text-decoration: none;
  cursor: pointer;
}

.form-link:hover {
  text-decoration: underline;
}

/*=========================== .footer-container ========================*/
.footer-container {
  background-color: aliceblue;
  width: 100%;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
}

.footer-row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.footer-row i.fab {
  color: #333;
  margin: 12px;
  font-size: 1.1rem;
}

/*=================== .copyright =========================*/
.copyright {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  color: #555;
}


/*======================== On Mobile devices =====================*/
@media only screen and (max-width: 1099px) {
  .logo img {
    width: 40%;
    overflow: hidden; 
    margin: 1rem auto;
  }
  .main-wrapper{
    display: flex;
    flex-direction: row;
    margin: 1.4rem auto;
    gap: 10px;
    margin: 0 auto;
    width: 98%;
    
  }

  /*--------------------------- Container --------------------------*/
.container {
  width: 85%;
  position: relative;
  margin: 2rem auto;
  padding: 1rem 4.3rem;
}

}

/*======================== On Mobile devices =====================*/
@media only screen and (max-width: 999px) {
  .logo img {
    width: 40%;
    overflow: hidden; 
    margin: 1rem auto;
  }
  .main-wrapper{
    display: flex;
    flex-direction: row;
    margin: 1.4rem auto;
    gap: 10px;
    margin: 0 auto;
    width: 98%;
    
  }

  /*--------------------------- Container --------------------------*/
.container {
  width: 100%;
  margin: 2rem auto;
  padding: 1rem 4rem;
}

}
/*======================== On Mobile devices =====================*/
@media only screen and (max-width: 860px) {
  .logo img {
    width: 38%;
    overflow: hidden; 
    margin: 1rem auto;
  }
  
  .main-wrapper{
    flex-direction: column;
    margin: 1.4rem auto;
    margin: 0 auto;
    width: 90%;
    
  }
    /*--------------------------- Container --------------------------*/
  .container {
    width: 70%;
    margin: 2rem auto;
    padding: 1rem 4.7rem;
  }
  
    .input-item {
      font-size: 13px;
    }
}
/*======================== On Mobile devices =====================*/
@media only screen and (max-width: 600px) {
  .logo img {
    width: 38%;
  }

  .main-wrapper{
    flex-direction: column;
    margin: 3rem auto;
    margin: 0 auto;
    width: 95%;
  }
  .container {
    width: 80%;
    margin: 2rem auto;
    padding: 1rem 2.7rem;
  }
  
    .input-item {
      font-size: 13px;
    }

  .input-item {
    font-size: 13px;
  }

  /*=========================== .footer-container ========================*/
  .footer-container {
    margin: 0 auto;
    padding: 1rem;
  }

  .copyright {
    margin-bottom: 1rem;
    font-size: 14px;
    padding: 1rem auto;
  }
}

/*======================== On Mobile devices =====================*/
@media only screen and (max-width: 500px) {
  .logo img {
    width: 38%;
  }

  .main-wrapper{
    flex-direction: column;
    margin: 3rem auto;
    margin: 0 auto;
    width: 98%;

  }
  .form-title {
    font-size: 1.2rem;
    padding: 10px;
    
  }

  h1{
    font-size: 1.5rem;
    margin: 1rem auto;
  
  }

  .container {
    width: 98%;
    margin: 2rem auto;
    padding: 1rem 2.5rem;
  }

  .left-side-img img{
    width: 300px;
    height: 200px;
  }
  
    .input-item {
      font-size: 13px;
    }
  /*=========================== .footer-container ========================*/
  .footer-container {
    margin: 0 auto;
    padding: 1rem;
  }

  .copyright {
    margin-bottom: 1rem;
    padding: 1rem auto;
  }
}



/*======================== On Mobile devices =====================*/
@media only screen and (max-width: 380px) {
  .logo img {
    width: 38%;
  }

  .main-wrapper{
    flex-direction: column;
    margin: 2rem auto;
    margin: 0 auto;
    width: 100%;
    
  }

  .form-title {
    font-size: 1.2rem;
    padding: 10px;
    
  }

  h1{
    font-size: 1.2rem;
    margin: 1rem auto;
  
  }


  .container {
    width: 100%;
    margin: 1rem auto;
    padding: 1rem 1rem;
  }

  .left-side-img img{
    width: 300px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
  }
  
    .input-item {
      font-size: 13px;
    }

  .input-item {
    font-size: 13px;
  }

  /*=========================== .footer-container ========================*/
  .footer-container {
    margin: 0 auto;
    padding: 1rem;
  }

  .copyright {
    margin-bottom: 1rem;
    font-size: 14px;
    padding: 1rem auto;
  }
}


